html {
  scroll-behavior: smooth; }

#intro {
  /* background: url("../img/panorama-3094696_1920.jpg") no-repeat center center; */
  background-size: cover; }

.top-nav-collapse {
  background-color: #3949ab !important; }

.navbar:not(.top-nav-collapse) {
  background: transparent !important; }

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: #3949ab !important; } }

#intro .h6 {
  font-weight: 300;
  line-height: 1.7; }

.site-bg-img {
  height: 100vh;
  min-height: 480px;
  max-height: 700px; }

.hm-gradient {
  height: 75%;
}
.hm-gradient .site-bg-img {
  background: rgba(42, 27, 161, 0.7);
  background: linear-gradient(175deg, rgb(59 49 136), rgb(29 210 177) 100%);
          /*linear-gradient(45deg, rgb(59 49 136 / 70%), rgb(29 210 177) 100%); */

}

@media (max-width: 450px) {
  .margins {
    margin-right: 1rem;
    margin-left: 1rem; } }

#pricing .lead {
  opacity: 0.7; }

#pricing .card-image {
  background: url("../img/architecture.jpg") no-repeat center center; }

#pricing ul li {
  font-size: 1.1em; }



  /* ---- reset ---- */



  canvas {
    display: block;
    vertical-align: bottom;
  }

  /* ---- particles.js container ---- */

  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

  /* ---- stats.js ---- */

  .count-particles{
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
  }

  .js-count-particles{
    font-size: 1.1em;
  }

  #stats,
  .count-particles{
    -webkit-user-select: none;
  }

  #stats{
    border-radius: 3px 3px 0 0;
    overflow: hidden;
  }

  .count-particles{
    border-radius: 0 0 3px 3px;
  }
