body{
    /* padding:5px; */
    font-family: "Open Sans", "Lucida Sans", "Trebuchet MS", Verdana, Arial, Sans-Serif;
}

.nav{
    width:1000px;
    background-color: #016ca2;
    margin-left: auto;
    margin-right: auto;
    padding:5px;
    padding-left:15px;
    color:#FFF;
    font-size: 1.5em;
    margin-bottom:20px;
    height:40px;
    text-align: center;
}

.nav a{
    color:#FFF;
    text-decoration: none;
}

.head{
    width:1000px;
    margin-left: auto;
    margin-right: auto;
}

.head #title{
    width:100%;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.head .nav ul {
    list-style-type: none;
    margin: 0;
    padding:0;
    padding-top:4px;
}

.head .nav ul li {
    display: inline;
    margin:8px;
    font-weight: bold;
    font-size: 15px;
}

.head .nav ul li a:hover{
    color:#FFACAF;
}

.cont{
    width:1000px;
    margin-left: auto;
    margin-right: auto;
}

.cont #abstract{
    width:100%;
    font-size: small;
}

.cont #extendedVersion{
    width:100%;
    font-size: small;
}


.cont #poster{
    width:100%;
    font-size: small;
}


.cont #teaser{
    width:100%;
    font-size: small;
}


.cont #presentation{
    width:100%;
    font-size: small;
}

.cont #authors{
    margin-top:10px;
    margin-bottom:20px;
    font-size: 10px;
    font-style: italic;
}

.cont #demonstration{
    width:100%;
    font-size: small;
}

.cont .section{
    width:1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    font-size:0.9em;
}

.lst {
    background:#016ca2 url(/image/gutter.gif) 2.3em 0 repeat-y;
    overflow:auto;
    font-family:"Courier New",Courier,mono;
    margin:5px;
    padding:0.3em 0.3em 0.3em 2.8em;
    color:#fff;
    width:90%;
}
.lst li {
    background:#ffc;
    font-size:small;
    padding-left:5px;
}
.lst li code {
    color:#000;
    font-size: 1.2em;
}

.cont .footer{
    font-size:0.7em;
    border-top:1px solid #9a9a9a;
    padding:2px;
}

.collapsible {
  background-color: #f7f7f7;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: 1px solid;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin:5px;
  border-radius: 10px;
}

/* .active, .collapsible:hover {
  background-color: #cccccc;
} */

.collapsible:after {
  content: '\002B';
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease-out;
  background-color: #fff;
  border:1px solid #f1f1f1;
  border-radius: 10px;
  width: 98%;
  margin:5px;
}


blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.2em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
  font-size: 1.2em;
}
/*--------------------------------------------------------------
# Featured Services Section
--------------------------------------------------------------*/
.featured-services .service-item {
    padding: 30px;
    transition: all ease-in-out 0.4s;
    background: var(--color-white);
    height: 100%;
    box-shadow: 0px 0 60px 0 rgba(var(--color-secondary-rgb), 0.1);
}
.featured-services .service-item .icon {
    margin-bottom: 10px;
}
.featured-services .service-item .icon i {
    color: var(--color-primary);
    font-size: 36px;
    transition: 0.1s;
}
.featured-services .service-item h4 {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 24px;
}
.featured-services .service-item h4 a {
    color: var(--color-secondary);
    transition: ease-in-out 0.1s;
}
.featured-services .service-item p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}
.featured-services .service-item:hover {
    transform: translateY(-10px);
    box-shadow: 0px 0 60px 0 rgba(var(--color-secondary-rgb), 0.1);
}
.featured-services .service-item:hover h4 a {
    color: var(--color-primary);
}

/*--------------------------------------------------------------
# Featured Images Section
--------------------------------------------------------------*/
.featured-services .service-image-item {
    transition: all ease-in-out 0.4s;
    background: var(--color-white);
    height: 100%;
}
.featured-services .service-image-item .icon {
    margin-bottom: 10px;
}
.featured-services .service-image-item .icon i {
    color: var(--color-primary);
    font-size: 36px;
    transition: 0.1s;
}
.featured-services .service-image-item h4 {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 24px;
}
.featured-services .service-image-item h4 a {
    color: var(--color-secondary);
    transition: ease-in-out 0.1s;
}
.featured-services .service-image-item p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}
.featured-services .service-image-item:hover {
    transform: translateY(-10px);
    /*box-shadow: 0px 0 60px 0 rgba(var(--color-secondary-rgb), 0.1);*/
}
.featured-services .service-image-item:hover h4 a {
    color: var(--color-primary);
}


.featured-sec-padding {
    padding: 50px;
}

.dimensions {
    padding: 0;
    margin: 0;

}